{% extends 'prj/base.html' %}
{% block title_page %}Перелік виконаних проектів{% endblock %}
{% block content %}
    {% for prj in projects %}
        <div class="prj">
            <h1><a href="{% url 'prj_detail' pk=prj.pk %}">{{ prj.name_prj }}</a></h1>
            <div class="description">
                <p>{{ prj.description|linebreaksbr }}</p>
            </div>
            <div class="date">
                <p>Період розробки: з {{ prj.start_date }} до {{ prj.finish_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
